
.Site-body {
color: #404040;
background: #282537;
background-image: -webkit-radial-gradient(top, circle cover, #3c3b52 0%, #252233 80%);
background-image: -moz-radial-gradient(top, circle cover, #3c3b52 0%, #252233 80%);
background-image: -o-radial-gradient(top, circle cover, #3c3b52 0%, #252233 80%);
background-image: radial-gradient(top, circle cover, #3c3b52 0%, #252233 80%);
}

.Site {
  text-align: center;
}

.Site-logo {
  animation: Site-logo-spin infinite 20s linear;
  height: 80px;
}

.Site-page {
  padding: 10px;
}

@keyframes Site-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}
